<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Add a Quote</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:class="workshop">
            <h1 th:text="${language != null and language.name() == 'UA'} ?
            'Створення нової цитати' : 'Create a new quote'">
            </h1>
            <div th:class="form">
                <form th:action="@{/view/{language}/quotes/create(language=${language})}"
                      th:object="${quote}" method="post">
                    <label for="language-select"></label>
                    <select th:field="*{language}" id="language-select">
                        <option th:value="EN">English</option>
                        <option th:value="UA">Українська</option>
                    </select>
                    <label th:text="${language != null and language.name() == 'UA'} ?
                    'Текст цитати:' : 'Quote text:'">
                    </label>
                    <input type="text" th:field="*{text}" required/>
                    <label th:text="${language != null and language.name() == 'UA'} ?
                    'Автор:' : 'Author:'">
                    </label>
                    <input type="text" th:field="*{author}" required/>
                    <label th:text="${language != null and language.name() == 'UA'} ?
                    'Категорія:' : 'Category:'">
                    </label>
                    <input type="text" th:field="*{category}" required/>
                    <button type="submit" th:text="${language != null and language.name() == 'UA'} ?
                    'Зберегти' : 'Save'">
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>