<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${language.name() == 'UA'} ?
                'Генератор цитат' : 'Quote Generator'">
        </title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:class="workshop">
            <h1 th:text="${language.name() == 'UA'} ?
                    'Генератор цитат' : 'Quote Generator'">
            </h1>

            <div th:class="form">
                <form th:action="@{/view/{language}/quotes/random(language=${language})}"
                            method="get">
                    <button type="submit"
                            th:text="${language.name() == 'UA'} ?
                            'Згенерувати цитату' : 'Generate quote'">
                    </button>
                </form>
            </div>

            <div th:if="${quote != null}">
                <blockquote>
                    <p th:text="${quote.text}">Quote text</p>
                    <footer th:text="${quote.author}">Author</footer>
                </blockquote>
            </div>

            <div th:class="button-href">
                <a th:href="@{/view/{language}/quotes/all_quotes(language=${language})}"
                   th:text="${language.name() == 'UA'} ?
                        'Усі цитати' : 'All Quotes'">
                </a>

                <a th:href="@{/view/{language}/quotes/create(language=${language})}"
                   th:text="${language.name() == 'UA'} ?
                        'Створити цитату' : 'Create Quote'">
                </a>
            </div>
        </div>
    </body>
</html>