<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Select Language</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:class="workshop">
            <h1>Оберіть мову / Select language:</h1>
                <div th:class="form">
                    <form id="languageForm" th:class="start-form">
                        <select name="language" id="language-select">
                            <option value="EN">English</option>
                            <option value="UA">Українська</option>
                        </select>
                        <button type="submit">OK</button>
                    </form>
                </div>
        </div>
        <script>
            document.getElementById('languageForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const lang = document.getElementById('language-select').value.toUpperCase();
                window.location.href = '/view/' + lang + '/quotes';
            });
        </script>
    </body>
</html>