<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>All Quotes</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:class="workshopAll">
            <h1 th:text="${language != null and language.name() == 'UA'} ?
            'Усі цитати' : 'All quotes'">All quotes</h1>

            <div th:if="${quotes != null and !quotes.isEmpty()}"
                 th:class="all-quotes">
                <div th:each="quote : ${quotes}">
                    <blockquote>
                        <p th:text="${quote.text}">Quote text</p>
                        <footer th:text="${quote.author}">Author</footer>
                    </blockquote>
                </div>
            </div>

            <div th:if="${quotes == null or quotes.isEmpty()}">
                <p>No quotes found.</p>
            </div>

            <div th:class="button-href">
                <a th:if="${currentPage > 0}"
                   th:href="@{/view/{language}/quotes/all_quotes(language=${language}, page=${currentPage - 1})}">
                    ← <span th:text="${language.name() == 'UA'} ? 'Попередня' : 'Previous'">Previous</span>
                </a>

                <a th:if="${currentPage + 1 < totalPages}"
                   th:href="@{/view/{language}/quotes/all_quotes(language=${language}, page=${currentPage + 1})}">
                    <span th:text="${language.name() == 'UA'} ? 'Наступна' : 'Next'">Next</span> →
                </a>
            </div>

            <div th:class="button-href-back">
                <a th:href="@{/view/{language}/quotes(language=${language})}"
                   th:text="${language != null and language.name() == 'UA'} ?
                    '← Назад до генератора цитат' : '← Back to Generator'">
                </a>
            </div>
        </div>
    </body>
</html>